		*{
  			margin:0;
  			padding:0;
		}
		html{
			width:100%;
			height:100%;
		}
		body{
			width:100%;
			height:100%;
		  font-family:"Microsoft YaHei";
		}
		ul{
		  list-style:none;
		}
		a{
		  text-decoration:none;
		}
		.clearfix::after{
		  content:"";
		  display:block;
		  clear:both;
		}
		#nav{
		  position:fixed;
		  top:0;
		  left:0;
		  z-index:20;
		  width:100%;
		  height:80px;
		  background:rgba(0, 0, 0, .7);;
		}
		.layout{
		  width:1200px;
		  margin:0 auto;
		}
		.layout .nav-logo{
		  float:left;
		  display:block;
		  width:260px;
		  height:40px;
		 background:url(http://www.dota2.com.cn/images/header/dota2.home.log.png) center top no-repeat;
		  margin-top:20px;
		  text-indent:-1000px;
		}
		#nav ul{
		  float:right;
		}
		#nav ul>li{
		  float:left;
		  text-align:center;
		  width:78px;
		  padding:23px 7px;
		  
		}
		#nav ul>li>a{
		  display:block;
		  font-size:15px;
		  color:#827c79;
		}
		#nav ul>li>a:hover{
		  color:#00b7f4;
		}
		#nav ul>li>a .nav-c{
		  display:block;
		  font-size:16px;
		}
		#nav ul>li>a .nav-e{
		  margin-top: 2px;
		  font-size: 9px;
		  line-height: 16px;
		}

		


		/*全屏轮播部分*/
		#header{
			width:100%;
			height:100%;
		}
		#header .carousel{
			position: relative;
			text-align: center;
			overflow: hidden;
			width:100%;
			height:100%;
		}
		#header .carousel .img-ct{
			position: absolute;
			height:100%;
		}
		#header .carousel .img-ct .item{
			position: relative;
			float:left;
			height:100%;
			width:100%;
		}
		#header .carousel .img-ct .item>.bg{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background-size:cover;
			background-repeat: no-repeat;
			background-position:center center;
		}
		#header .carousel .img-ct .item .main-title{
			width:1200px;
		  	position:absolute;
		  	top:50%;
		  	left:50%;
		  	transform:translate(-50%,-50%);
		  	margin-top:80px;
		  	text-align:center;
		  	color:#fff;
		}
		#header .carousel .img-ct .item .welcome{
			font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
		 	font-style: italic;
		  	font-size: 40px;
		  	line-height: 40px;
		  	margin-bottom: 25px;
		}
		#header .carousel .img-ct .item .fight{
			font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		  	text-transform: uppercase;
		  	font-weight: 700;
		  	font-size: 75px;
		  	line-height: 75px;
		  	margin-bottom: 50px;
		}
		#header .carousel .img-ct .item .main-title>a{
			color: #fff;
		  	background-color: #fed136;
		  	border-color: #fed136;
		  	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		  	text-transform: uppercase;
		  	font-weight: 700;
		  	border-radius: 8px;
		  	font-size: 18px;
		  	padding: 20px 40px;
		  	opacity:0.75;
		}
		#header .carousel .img-ct .item .main-title>a:hover{
			opacity:1;
		}
		#header .carousel .button{
			position: absolute;
			top:50%;
			z-index:1;
			margin-top: -15px;
			width:30px;
			height:30px;
			line-height: 30px;
			text-align: center;
			border:1px solid #fff;
			border-radius: 50%;
			color:#fff;
			cursor:pointer;
			display:inline-block;
		}
		#header .carousel .prev{
			left:20px;
		}
		#header .carousel .next{
			right:20px;
		}
		#header .carousel .bullets{
			position: absolute;
			width:100%;
			bottom:20px;
			text-align: center;
			font-size: 0;
		}
		#header .carousel .bullets>li{
			display: inline-block;
			margin:0 5px;
			width:20px;
			height:20px;
			border-radius: 50%;
			background:#ccc;
			cursor: pointer;
		}
		#header .carousel .bullets>li.active{
			background:#f00;
		}


		#news{
			text-align: center;
			padding:100px 0;
			background:#ccc;
		}
		#news .layout{

		}
		#news .news-content{
			box-sizing: border-box;
		}
		#news .news-content .loadmore{
			display: inline-block;
			background:#f00;
			color:#fff;
			width:120px;
			height:50px;
			line-height: 50px;
			border-radius: 10px;
			text-align: center;
			margin-top: 20px;
			cursor: pointer;
			opacity: 0.5;
		}
		#news .news-content .loadmore:hover{
			opacity: 1;
		}
		#news .news-content .news-ct{
			position: relative;
		}
		#news .news-content .news-ct .item{
			position: absolute;
			padding-bottom:10px;
			width:278px;
			margin:10px;
			border:1px solid #dfdfdf;
			background:#fff;
			opacity: 0;
			transition: all .8s;
		}
		#news .news-content .news-ct .hide{
			display:none;
		}
		#news .news-content .news-ct .item img{
			margin:10px;
			width:260px;
		}
		#news .news-content .news-ct .item h3{
			font-size: 16px;
			height: 25px;
			margin:0 12px;
			border-bottom:1px solid #dbdbdb;
		}
		#news .news-content .news-ct .item p{
			font-size: 12px;
			line-height: 1.8;
			margin:10px 15px 0;
			color:#777371;
		}

		/*赛事部分*/
		#match{
		  padding-top:100px;
		  padding-bottom:100px;
		  text-align:center;
		  position:relative;
		  background:url(http://www.dota2.com.cn/resources/jpg/131008/10251381215866972.jpg) 0 0 no-repeat;
		  background-size:cover;
		  color:#fff;
		}
		#match .layout{
		  background:rgba(0,0,0,.7);
		}
		.layout h2{
		  font-size:40px;
		  margin-bottom:20px;
		}
		#match ul>li{
		  display:inline-block;
		  margin:30px 17px;
		  width:360px;
		  border-radius:8px;
		  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
		  border:1px solid #ccc;
		}
		#match ul>li>h5{
		  font-size:20px;
		  margin:10px auto;
		}
		#match ul>li>img{
		  width:100%;
		  border-radius:8px 8px 0 0;
		}
		#match ul>li>p{
		  text-align:left;
		  margin-left:30px;
		  margin-bottom:8px;
		}
		#teams{
		  padding-top:100px;
		  padding-bottom:100px;
		  text-align:center;
		  background:url(http://www.dota2.com.cn/images/cover161129/cover161129_bg_09.png) 0 0 no-repeat;
		  background-size:cover;
		}
		#teams ul>li{
		  display:inline-block;
		  width:208px;
		  margin:12px;
		  background:#fff;
		}
		#teams ul>li>a{
		  display:block;
		  position:relative;
		}
		#teams ul>li>a:hover span.cover{
		  display:inline-block;
		}
		#teams ul>li>a>img{
		  width:100%;
		  height:100%;
		  background-color: rgba(0, 0, 0, 0.9);
		}

		#teams ul>li>a .cover{
		  display:none;
		  position:absolute;
		  width:100%;
		  height:100%;
		  top:0;
		  left:0;
		  background:rgba(254,209,54,.9);

		  transition:.6s;
		}
		#teams ul>li>a .cover i{
		  position:absolute;
		  top:50%;
		  left:50%;
		  transform:translate(-50%,-50%);
		  font-size:40px;
		  color:#f00;
		}
		#teams ul>li>p{
		  font-size:20px;
		  font-weight:bold;
		  font-family:"Helvetica Neue";
		}
		#heroes{
		  padding-top:80px;
		  padding-bottom:60px;
		  text-align:center;
		  background:#eee;
		}
		#heroes ul{
		  position:relative;
		}
		#heroes ul::before{
		  content:"";
		  position:absolute;
		  
		  margin-left:-1px;
		  top:0;
		  bottom:150px;
		  left:50%;
		  width:2px;
		  background:#ccc;
		 
		}
		#heroes ul>li{
		  position:relative;
		  margin-bottom:150px;
		}
		#heroes ul>li h3{
		  margin:10px;
		  word-spacing:2px;
		}
		#heroes ul>li p{
		  margin:10px;
		  text-align:left;
		  text-indent:2em;
		  line-height:24px;
		}
		#heroes ul>li .hero-instr-l{
		  float:left;
		  width:40%;
		  margin-left:-50px;
		}
		#heroes ul>li .hero-instr-r{
		  float:right;
		  width:40%;
		  margin-right:-50px;
		}
		#heroes ul>li .hero-image{
		  position:absolute;
		  top:0;
		  left:50%;
		  margin-left:-100px;
		}

		.hero-image:hover .img-r{
		  display:inline-block;
		}
		.hero-image img{
		  width:200px;
		  height:200px;
		  border-radius:50%;
		  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
		}
		#heroes ul>li .img-r{
		  float:right;
		  height:350px;
		  
		}
		#heroes ul>li .img-l{
		  float:left;
		  height:350px;
		 
		}
		#team{
		  padding-top:80px;
		  padding-bottom:80px;
		  text-align:center;
		  background:#ccc;
		  position:relative;
		  background:url(http://cdn.dota2.com.cn/apps/dota2/images/international2017/battlepass/bg_14.jpg) no-repeat;
		  background-size:cover;
		  color:#fff;
		}

		#team h2{
		  margin-bottom:100px;
		}
		#team ul>li{
		  display:inline-block;
		  margin:0 40px;
		}
		#team ul>li>h3{
		  margin:20px;
		  font-size:28px;
		  letter-spacing:10px;
		}
		#team ul>li .img-w{
		  width:230px;
		  height:230px;
		  border-radius:50%;
		  border:5px solid #fff;
		  background-size:cover;
		}
		.img1{
		background:url(http://cdn.dota2.com/apps/dota2/images/items/hand_of_midas_lg.png?3) no-repeat;  
		}
		.img2{ background:url(http://cdn.dota2.com/apps/dota2/images/items/blade_mail_lg.png?3) no-repeat;
		}
		.img3{  background:url(http://cdn.dota2.com/apps/dota2/images/items/black_king_bar_lg.png?3) no-repeat;
		}
		#team ul>li>ul>li{
		  display: inline-block;
		  margin: 0 5px;
		  
		}
		#team ul>li>ul>li>a{
		  width: 40px;
		  height: 40px;
		  border-radius: 50%;
		  border:1px solid #ccc;
		  background: #000;
		  display: inline-block;
		  color: #fff;
		  line-height: 40px;
		  text-align:center;
		}
		#team ul>li>ul>li>a:hover{
		  background:#fed136;
		}
		#contact{
		  padding:150px 0;
		  text-align:center;
		  background:url(http://cdn.dota2.com.cn/apps/dota2/images/international2017/battlepass/bg_13.jpg) no-repeat;
		  background-size:cover;
		  color:#fff;
		}
		#contact form div{
		  width:50%;
		  float:left;
		  display:inline-block;
		}
		#contact form input[type="text"]{
		  display:block;
		  margin-bottom:20px;
		  width:500px;
		  padding:20px;
		  border-radius:10px;
		  margin-left:30px;
		}
		#contact form textarea{
		  display:block;
		  border-radius:10px;
		  width:500px;
		  padding:20px;
		  margin-right:50px;
		}
		#contact form .button-w{
		  text-align:center;
		  float:left;
		  width:100%;
		}
		#contact form .button{
		  display:inline-block;
		  padding:15px;
		  color:#fff;
		  background:#fed136;
		  border-radius:20px;
		  width:220px;
		  height:60px;
		  font-size:22px;
		  font-weight:700;
		  opacity:0.65;
		}
		#contact form .button:hover{
		  opacity:1;
		}
		#footer{
		  background:#aaa;
		}
		#footer ul>li{
		  display:inline-block;
		  margin:20px 60px;
		  padding:0 20px;
		}
		#footer ul>li>ul>li{
		  display: inline-block;
		  margin: 0 5px;
		}
		#footer ul>li>ul>li .icon{
		  width: 40px;
		  height: 40px;
		  border-radius: 50%;
		  background: #000;
		  display: inline-block;
		  color: #fff;
		  line-height: 40px;
		  text-align:center;
		}
		#footer ul>li>ul>li a.icon:hover{
		  background:#fed136;
		}
		#footer a{
		  color:#fec503;
		  font-weight:bold;
		}
		#footer a:hover{
		  text-decoration:underline;
		}


		#gotop{
		  display: inline-block;
	      position:fixed;
	      right:10px;
	      bottom:20px;
	      width:40px;
	      height:60px;
	      line-height:30px;
	      font-size:14px;
	      text-align:center;
	      border-radius:8px;
	      background:blue;
	      color:#fff;
	      font-weight:bold;
	      cursor:pointer;
		}
		#gotop:hover{
			opacity: 0.6;
		}